@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}
.left {
  /* text-align: left; */
}
.container {
  padding: 0;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
span {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.about-me {
  display: flex;
  flex-direction: column;

  margin-top: 36px;
  margin-bottom: 36px;
}
.photo img {
  border-radius: 20px;
  width: 600px;
  height: 338px;
  margin-bottom: 36px;
}
.interestFact {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 30px;
  padding: 0;
  font-weight: 700;
  background: #4191ff;
  color: #fff;
  border: none;
  cursor: pointer;
  /* display: block; */

  width: 600px;
  height: 80px;
  border-radius: 10px;
}
